/* 共通 */
body {
	color:#000000;
	font:13px/1.231 Meiryo, 'Lucida Grande','Hiragino Kaku Gothic ProN', sans-serif;*font-size:small;*font:x-small;
	line-height: 1.5;
	letter-spacing: 0;
}
button, input, textarea {
	font-family: Meiryo, 'Lucida Grande','Hiragino Kaku Gothic ProN', sans-serif;*font-size:small;
}

select {
	padding:2px;
	border-color: #aaa;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
}

.require {
	color:#ff0000;
}
.errorstr {
	color:#ff0000;
}

/* 引用 */
blockquote.quote {
	border-left:2px solid #cccccc;
	padding-left:5px;
	margin : 3px 0px 3px 25px;
}

/* クリック不可リンクラベル色 */
.disable-lbl {
	color:#000 !important;
	opacity:.5;
	filter:Alpha(Opacity=50);
}

/* hr */
div.hr {
	border-top:1px solid #cccccc;
	border-left:none;
	border-right:none;
	border-bottom:none;
	margin-top:5px;
	margin-bottom:5px;
}

/*
 * a
 */
a,a:link {
	color:#04419a;
}
a:hover {
	color:#0000ff;
}
a:visited,a:active {
	color:#551a8b;
}

a.link,a.link:link {
	color:#04419a;
	text-decoration:none;
}
a.link:visited {
	color:#04419a;
	text-decoration:none;
}
a.link:hover {
	color:#0000ff;
	text-decoration:none;
}
a.link:active {
	color:#04419a;
	text-decoration:none;
}
/*
a.syslink,a.syslink:link {
	color:#5c9084;
	text-decoration:none;
}
a.syslink:visited {
	color:#1f704c;
	text-decoration:none;
}
a.syslink:hover {
	color:#006400;
	text-decoration:none;
}
a.syslink:active {
	color:#5c9084;
	text-decoration:none;
}
*/
div.top-description {
	padding:5px;
}
.note {
    background-color: #f3f3f3;
    font-size:0.7rem;
}

/* highlight */
.highlight {
	background-color:#e9f2fb !important;
	color:#4e62a9 !important;
}

a.hover-highlight,a.hover-highlight:link {
	text-decoration:none;
}
a.hover-highlight:visited {
	text-decoration:none;
}
a.hover-highlight:hover {
	color:#4e62a9;
	background-color:#e9f2fb;
	text-decoration:none;
}
a.hover-highlight:active {
	text-decoration:none;
}
/* ボタン - 共通 */
.common-btn-min,.common-btn,.common-btn:active {
	border-radius : 4px 4px 4px 4px;
	border:1px solid #cccccc;
	color:#686868;
	font-weight:bold;
	margin: 0 5px;
	padding:8px 10px 4px;
	text-shadow:0 -1px 0 #cccccc;
	min-width:100px;
	cursor:pointer;

/* Firefox */
    background-image: -moz-linear-gradient(center top , #ffffff, #f8f8f8);
/* Webkit */
	background: -webkit-gradient(
        linear,
        center top,
        center bottom,
        from(#ffffff),
        to(#f8f8f8)
        );
/* IE */
    filter:progid:DXImageTransform.Microsoft.gradient
        (startColorstr=#ffffffff,endColorstr=#fff8f8f8);
}

.common-btn-min:hover,.common-btn:hover {
/* Firefox */
    background-image: -moz-linear-gradient(center top , #ffffff, #ffffcc);
/* Webkit */
    background: -webkit-gradient(
        linear,
        center top,
        center bottom,
        from(#ffffff),
        to(#ffffcc)
        );
/* IE */
    filter:progid:DXImageTransform.Microsoft.gradient
        (startColorstr=#ffffffff,endColorstr=#ffffffcc);
}

.common-btn-min {
	min-width: 0;
	padding: 2px 10px 1px 10px;
	margin: 3px;
}

.common-btn-disable {
	color:#cccccc;
}

.common-btn-disable:hover {
}

.common-btn-light {
/* Firefox */
    background-image: -moz-linear-gradient(center top , #ffffff, #b6d4f6);
/* Webkit */
    background: -webkit-gradient(
        linear,
        center top,
        center bottom,
        from(#ffffff),
        to(#b6d4f6)
        );
/* IE */
    filter:progid:DXImageTransform.Microsoft.gradient
        (startColorstr=#ffffffff,endColorstr=#ffb6d4f6);
}

.submit,.btn-bottom {
	margin:5px 0;
	text-align:center;
	white-space: nowrap;
}

.add-btn-link-outer {
	text-align: right;
	padding: 5px 0 8px 0;
}
.add-btn-link {
	background: url(../../img/icons/plus.png) no-repeat left center;
	padding: 0 0 0 28px;
}


/* 言語切替 */
.language-outer {
	padding: 4px;
	text-align:right;
}
.language-outer div {
	text-align:left;
}
.language {
	width:130px;
}

/* 一覧へ戻る */
.link-bottom {
	margin:5px 0;
	padding:10px;
	text-align:center;
	white-space: nowrap;
}
.link-back {
	text-align:center;
	border:1px solid #aaaaaa;
	border-radius: 3px;
	padding:5px 10px;
}

/* Form  */
fieldset.form input[type="text"], fieldset.form input[type="password"], fieldset.form textarea,input.text,.dropdown {
	border:1px solid #aaaaaa;
    padding: 4px 2px;
    /* background: #ffffff; */
    border-radius: 3px;
    box-shadow: 0 13px 13px rgba(0,0,0,0.03) inset, 1px 1px 1px #ffffff;

    /* IE */
    filter:progid:DXImageTransform.Microsoft.gradient
        (startColorstr=#fff4f4f4,endColorstr=#ffffffff);
    zoom: 1;
}
input.normal-text {
	padding: 2px;
}
fieldset.form input:focus[type="text"], fieldset.form input:focus[type="password"], fieldset.form textarea:focus,input.text:focus,.dropdown:focus {
	border: 1px solid #56b4ef;
	box-shadow: 0 13px 13px rgba(82,168, 236,0.03) inset,0 0 8px 0 rgba(82,168, 236, 0.6);

	/* IE */
    filter:progid:DXImageTransform.Microsoft.gradient
        (startColorstr=#fff0f9ff,endColorstr=#ffffffff);
}

.small {
	font-size:90%;
}

/* jquery plugin */
.ui-dialog .ui-dialog-titlebar {
	padding:0.1em 1em;
}