/* 共通 */
body {
    color:#000000;
    font:13px/1.231 "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;*font-size:small;*font:x-small;
	line-height: 1.5;
    letter-spacing: 0;
}

button, input, textarea {
    font-family: "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}

.require {
	color:#ff0000;
}
.errorstr {
	color:#ff0000;
}

/* 引用 */
blockquote.quote {
	border-left:2px solid #cccccc;
	padding-left:5px;
	margin : 3px 0px 3px 25px;
}

/* クリック不可リンクラベル色 */
.disable_lbl {
	color:#aca899;
}

/* hr */
div.hr {
	border-top:1px solid #cccccc;
	border-left:none;
	border-right:none;
	border-bottom:none;
	margin-top:5px;
	margin-bottom:5px;
}

/*
 * a
 */
a,a:link {
	color:#04419a;
}
a:hover {
	color:#0000ff;
}
a:visited,a:active {
	color:#551a8b;
}

a.link,a.link:link {
	color:#04419a;
	text-decoration:none;
}
a.link:visited {
	color:#04419a;
	text-decoration:none;
}
a.link:hover {
	color:#0000ff;
	text-decoration:none;
}
a.link:active {
	color:#04419a;
	text-decoration:none;
}

a.syslink,a.syslink:link {
	color:#5c9084;
	text-decoration:none;
}
a.syslink:visited {
	color:#1f704c;
	text-decoration:none;
}
a.syslink:hover {
	color:#006400;
	text-decoration:none;
}
a.syslink:active {
	color:#5c9084;
	text-decoration:none;
}

div.top_description {
	padding:5px;
}
.note {
    background-color: #f3f3f3;
}

/* highlight */
.highlight {
	background-color:#e9f2fb !important;
	color:#4e62a9 !important;
}

a.hover_highlight,a.hover_highlight:link {
	text-decoration:none;
}
a.hover_highlight:visited {
	text-decoration:none;
}
a.hover_highlight:hover {
	color:#4e62a9;
	background-color:#e9f2fb;
	text-decoration:none;
}
a.hover_highlight:active {
	text-decoration:none;
}
/* ボタン - 共通 */
.common_btn {
	border-radius : 4px 4px 4px 4px;
	background:url("../../img/common/btn_bg.gif") repeat-x scroll left top #ffffff;
	border:1px solid #cccccc;
	color:#686868;
	font-weight:bold;
	margin: 0 5px;
	padding:8px 10px 4px;
	text-shadow:0 -1px 0 #cccccc;
	width:100px;
	cursor:pointer;
}

.common_btn:hover {
	background:url("../../img/common/btn_bg_hover.gif") repeat-x scroll left top #ffffff;
}

.common_btn_disable {
	color:#cccccc;
}

.common_btn_disable:hover {
	background:url("../../img/common/btn_bg.gif") repeat-x scroll left top #ffffff;
}
.submit,.btn-bottom {
	margin:5px 0;
	text-align:center;
}

/* Form  */
fieldset.form input[type="text"], fieldset.form input[type="password"], fieldset.form textarea,input.text,.dropdown {
	border:1px solid #aaaaaa;
    padding: 4px 2px;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0 13px 13px rgba(0,0,0,0.03) inset, 1px 1px 1px #ffffff;

    /* IE */
    filter:progid:DXImageTransform.Microsoft.gradient
        (startColorstr=#fff4f4f4,endColorstr=#ffffffff);
    zoom: 1;
}
fieldset.form input:focus[type="text"], fieldset.form input:focus[type="password"], fieldset.form textarea:focus,input.text:focus,.dropdown:focus {
	border: 1px solid #56b4ef;
	box-shadow: 0 13px 13px rgba(82,168, 236,0.03) inset,0 0 8px 0 rgba(82,168, 236, 0.6);

	/* IE */
    filter:progid:DXImageTransform.Microsoft.gradient
        (startColorstr=#fff0f9ff,endColorstr=#ffffffff);
}

/* jquery plugin */
.ui-dialog .ui-dialog-titlebar {
	padding:0.1em 1em;
}