/* リダイレクト */
ul.nc-redirect {
	margin-top:120px;
	width:600px;
	margin:120px auto 4px;
}
ul.nc-redirect li {
	list-style-position:outside;
	list-style-type:none;
	margin:4px 0;
}

.nc-redirect-text {
	list-style-image: url("../../img/redirect/redirect_arrorw.gif");
	font-size:210%;
}

.nc-redirect-subtext {
	list-style-image: none;
	font-size:116%;
}

/* メンテナンス */
.nc-hmenu-maintenance {
	height:40px;
	line-height:40px;
	text-align:right;
	padding:0 15px;
	background-color:#ffffff;
	border-bottom:1px solid #bbbbbb;
}

/* 例外処理 */
.nc-exception-text {
	list-style-image: url("../../img/redirect/alert_large.png");
	font-size:210%;
}
