/* 履歴情報 */
table.nc-revisions {
    width: 100%;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #dfdfdf;
    background-color: #fff;

    border-collapse: separate;
    border-spacing: 0;
    margin: 0;
}

table.nc-revisions th, table.nc-revisions td {
	padding:7px;
}
th.nc-revisions_date {
	width: 60%;
}
th.nc-revisions_author {
	width: 20%;
}
th.nc-revisions_manage {
	width: 10%;
}
tr.nc-revisions-erow td {
	background-color: #f7f7f7;
	border-bottom: 1px solid #f7f7f7;
}
.nc-revisions-title {
	font-weight:bold;
}

/* 履歴比較 */
div.nc-diff-outer {
	padding:10px;
}
table.nc-diff-compare {
	width:100%;
}
table.nc-diff-compare th {
	width:50%;
	padding: 10px;
}
table.nc-diff-compare td {
	padding: 5px;
	vertical-align:top;
}

table.nc-diff-compare td.nc-diff-mark,
 table.nc-diff-compare td.nc-diff-mark-deleted,
 table.nc-diff-compare td.nc-diff-mark-added {
	font-size:70%;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
}

table.nc-diff-compare td.nc-diff-added, table.nc-diff-compare td.nc-diff-mark-added {
	background-color: #eeffff;
}
table.nc-diff-compare td.nc-diff-deleted, table.nc-diff-compare td.nc-diff-mark-deleted {
	background-color: #ffdddd;
}

table.nc-diff-compare td ins {
	text-decoration:none;
	background-color: #bfdfff;
}

table.nc-diff-compare td del {
	text-decoration:none;
	background-color: #f8c8c8;
}

.nc-diff-outer-identical {
	padding:10px;
	border:1px solid #9ecfff;
	margin:10px;
}
