/* Theme */
.th_default_red {
	background:url("../../frame/default/img/red/back.gif") repeat-x scroll left top #FFFFFF;
	border:1px solid #f57f7f;
}

/* highlight */
.th_default_red .highlight{
	background-color:#ffefff;
	color:#e61212;
}

.th_default_red a.hover_highlight:hover {
	background-color:#ffefff;
	color:#e61212;
}