/* 共通 */
/* for IE6 */
* html body {
    font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}
* html input, * html textarea {
    font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}

input[type="checkbox"], input[type="radio"] {
	margin: 3px;
    vertical-align: text-top;
    padding:0;
}

/* 共通クラス */
.none {
	display:none !important;
}

.top {
	vertical-align: top !important;
}
.bottom {
	vertical-align: bottom !important;
}

.float-left {
	float:left !important;
}

.float-right {
	float:right !important;
}

.clear {
	clear : both !important;
}
.clearfix:after, .lists:after {
	content: ".";
	display: block !important;
	clear: both !important;
	height: 0 !important;
	visibility: hidden !important;
}

.align-left {
	text-align:left !important;
}

.align-center {
	text-align:center !important;
}

.align-right {
	text-align:right !important;
}

.widthmax {
	width:100%;
}

.visible-hide {
	visibility:hidden;
}
.display-block {
	display:block;
}
.display-none {
	display:none;
}

.display-inline {
	display:inline;
}

.relative {
	position:relative;
}

.absolute {
	position:absolute;
}

.pointer-cursor {
	cursor:pointer !important;
}
.move-cursor {
	cursor:move !important;
}

.nowrap {
	white-space:nowrap !important;
}

.bold {
	font-weight:bold !important;
}

.clearfix {
	min-height: 1px !important;
}

* html .clearfix {
	height: 1px !important;
}

/* ブロック関連  */
.table {
	display:table;
}
.table-row {
	display:table-row;
}

.table-cell {
	display:table-cell;
}
/* タイトル */
input.nc-title {
    width: 360px;
}
/* 時間 */
input.nc-datetime {
    width: 135px !important;
}
input.nc-date {
    width: 80px !important;
}
input.nc-time {
    width: 60px !important;
}

/* メッセージ関連 */
.popup-message {
	border:1px solid #aaa;
	box-shadow: 0 0 5px #aaa;
    max-width: 300px;
    padding: 3px;
    border-radius:4px;
    background-color:#fff;
	position:absolute;
	z-index:1;
	/* left:0; */
}
.message-close {
	vertical-align:middle;
	padding:5px;
	float:right;
}

.popup-message .message-close {
	background-color:#fff;
	position:absolute;
	top:2px;
	right:2px;
	border-radius:4px;
	padding:0;
	float:normal;
}

.error-message {
	color:#ff0000 !important;
	background: url(../../img/common/alert.gif) no-repeat 5px center #ffd9d9 !important;
	padding:5px 0 5px 25px !important;
	line-height: 26px !important;
	margin:2px 0 !important;
	clear: both !important;
}
.info-message {
	color:#0000ff !important;
	background-color:#d9e0ff !important;
	padding:5px 0 5px 25px !important;
	line-height: 26px !important;
	margin:2px 0 !important;
	clear: both !important;
}

div.message {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 991;
	width:100%;
	color: #333333;
	font-size:116%;
	background: #ffffff;
	padding: 10px;
	text-align:center;
	border-bottom: 1px solid #cdcdcd;
}

.error-input-message {
	/* color:#ff0000 !important; */
	/* background-color: #ffd9d9 !important; */
	border-color:#ff8b8b !important;
}

/* 非公開 */
.nonpublic-lbl {
	color:#fe8d9e;
}
/* クリック不可リンクラベル色 */
.nonpublic {
	opacity:.6;
	filter:Alpha(Opacity=60);
}
.to-nonpublic {
	border: 1px dashed #fe8d9e;
}

/* WYSIWYG:IE+Ajaxの場合、一度目が正常に表示されないため */
textarea.nc-wysiwyg {
	width:520px;
	height:320px;
	visibility:hidden;
}

.outer {
	padding:0.7em;
}
.indent {
	margin-left:0.8em;
}

/* アイコン画像 */
img.icon {
	vertical-align:middle;
}

/* コンテンツ一覧->参照画面の背景色 */
.nc-active-content {
	background-color:#fff;
	padding:10px;
}

/* 矢印 */
.nc-arrow {
    border-color: #565656 transparent transparent;
    border-right: 3px dashed transparent;
    border-style: solid dashed dashed;
    border-width: 4px 4px 0;
    text-align: center;
    margin:0 auto;
    font-size: 0;
    height: 0;
    left: 0;
    line-height: 0;
    padding-top: 1px;
    position: relative;
    top: -3px;
    width: 0;
}

.nc-arrow-up {
    border-color: #565656 transparent;
    border-width: 0 4px 4px;
    border-style: solid;
	text-align: center;
	margin:0 auto;
    font-size: 0;
    height: 0;
    left: 0;
    line-height: 0;
    padding-top: 1px;
    position: relative;
    top: -8px;
    width: 0;
}

.nc-arrow-left {
	position:relative;
	top:0;
	left:0;
}
.nc-arrow-left:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 5px solid #565656;
}

.nc-arrow-right {
	position:relative;
	top:0;
	left:0;
}
.nc-arrow-right:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 5px solid #565656;
}

/* ページ移動 */
div.nc-paginator-outer {
	padding: 3px 0;
}

ul.nc-paginator {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.nc-paginator li {
    /* font-size: 13px; */
    line-height: 0;
    margin: 0 3px 0 0;
    padding: 0;

    border-radius:4px;
    border: 1px solid #ccc;
    color: #ccc;
    float: left;
}

ul.nc-paginator li,ul.nc-paginator a {
	min-width: 23px;

    display: block;
    line-height: 23px;

    padding: 0;
    text-align: center;
}

ul.nc-paginator a {
    text-decoration: none;
    color: #777;
}

ul.nc-paginator li.current,ul.nc-paginator a:hover  {
    /* background: url("") no-repeat scroll left top transparent; */
    background-color:#7e9693;
    color: #ffffff;
}

/* ドロップダウンメニュー */
.nc-drop-down {
	position: absolute;
	display: none;
	margin-top: 8px;
}

.nc-drop-down ul {
	list-style: none;
	background: #fff;
	border: solid 1px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	padding: 6px;
	margin: 0;
}
.nc-drop-down ul li {
	white-space:nowrap;
	list-style: none outside none;
	padding:4px 0 !important;
	float:none !important;
	text-align:left;
	width:100%;
	margin:0;
	line-height:normal;
}

.nc-drop-down-border {
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

.nc-drop-down li a {
	display:block;
}
.nc-drop-down:before {
  position: absolute;
  top: -6px;
  left: 9px;
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.nc-drop-down:after {
  position: absolute;
  top: -5px;
  left: 10px;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  display: inline-block;
}

/* リスト表示 */
ul.lists {
	margin:0;
	padding:0;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
ul.lists li {
	margin:0;
	list-style-type: none;
	clear: both;
	/*border-top: 1px solid #d0d0d1;*/
}

ul.lists li dl {
	clear: both;
    /*content: ".";*/
    display: block;
    height: 0;
}

ul.lists li dl dt {
	float: left;
    padding: 10px;
    width : 100px;

}

ul.lists li dl dd {
	float: left;
    overflow: hidden;
    padding: 10px;
    /*width : 200px;*/
}

/* 編集画面リスト */
ul.nc-edits-lists li {
	width: 650px;
}
ul.nc-edits-lists li dl dt {
	width:220px;
	padding:5px;
}

ul.nc-edits-lists li dl dd {
	width:410px;
	padding:5px;
}

ul.nc-edits-lists li dl dd input[type=radio], ul.nc-edits-lists li dl dd input[type=checkbox] {
	margin: 0 3px 0 10px
}
ul.nc-edits-lists li dl dd .textarea label {
	vertical-align: top;
}
ul.nc-edits-lists li dl dd textarea {
	width:307px;
	height:100px;
}
ul.nc-edits-lists li dl dd .hr {
	padding: 5px 0 0 20px;
}
ul.nc-edits-lists li dl dd .hr .authority-slider {
	margin: 10px 0 40px 20px;
}

ul.nc-edits-lists li dl dd .hr input[type=text] {
	margin-bottom: 5px;
}


/* Wysiwyg右部 */
.nc-widget-area-outer {
	padding: 0 0.7em;
	vertical-align:top;
}
.nc-widget-area {
	vertical-align:top;
	margin-bottom:10px;
	width: 240px;
}
.nc-widget-area-content {
	border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-style: none solid solid;
    border-width: 0 1px 1px;

    padding: 10px;

    background-color: #fcfcfc;
    border-color: #dfdfdf;
}
.nc-widget-area-title {
	cursor: pointer;
    padding: 4px 0 4px 10px;
    border-color: #dedede;
    border-style: solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-width: 1px;
}
.nc-widget-area-title h4 {
    display: inline;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}
a.nc-widget-area-title-arrow {
	display: block;
    width: 15px;
    float:right;
}
/* パネル背景 */
.nc-panel-color {
	background-color: #ffffff;
	background-image: linear-gradient(center top , #ffffff, #f8f8f8);
/* Firefox */
    background-image: -moz-linear-gradient(center top , #ffffff, #f8f8f8);
/* Webkit */
    background: -webkit-gradient(
        linear,
        center top,
        center bottom,
        from(#ffffff),
        to(#f8f8f8)
        );
/* IE */
    filter:progid:DXImageTransform.Microsoft.gradient
        (startColorstr=#ffffffff,endColorstr=#fff8f8f8);
    zoom: 1;
}

/* タイトル背景 */
.nc-title-color {
	background-color: #f1f1f1;
	box-shadow: 0 1px 0 #fff inset;
    text-shadow: 0 1px 0 #fff;

    background-image: linear-gradient(to top, #ececec, #f9f9f9);
/* Firefox */
    background-image: -moz-linear-gradient(to top, #ececec, #f9f9f9);
/* Webkit */
    background: -webkit-gradient(
        linear,
        center top,
        center bottom,
        from(#ececec),
        to(#f9f9f9)
        );
/* IE */
    filter:progid:DXImageTransform.Microsoft.gradient
        (startColorstr=#ffececec,endColorstr=#fff9f9f9);
    zoom: 1;
}

/* 権限スライドバー [主坦- モデレータ - 一般] */
.authority-slider {
	width:150px;
	margin: 0 10px 30px 10px;
}
.authority-slider-labels-outer {
	position: relative;
	top: 1.3em;
	width: 100%;
}
.authority-slider-label-outer {
	overflow: visible;
	position: absolute;
}
.authority-slider-label {
	width:66px;
	text-align:center;
	overflow:hidden;
	margin-left: -33px;
	white-space:nowrap;
}
.authority-slider-line {
	border-left: 1px solid #aaa;
	height: 0.8em;
	left: 0;
	position: absolute;
	top: -1.3em;
}

/* 履歴情報 */
ul.nc-revisions li {
	list-style: none outside none;
	margin: 0;
}

ul.nc-revisions a {
	padding: 0 10px 0 0;
}

span.nc-auto-draft {
	color: #bb2626;
	padding: 3px 10px;
}

/** Debugging **/
table.nc-log {
	background: #ffffff;
	width:100%;
	clear: both;
}
.nc-log td {
	vertical-align:top;
	border:1px solid #cccccc;
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}
.nc-log td.nc-php-log {
	background-color:#fff5d5;
}
.nc-log td.nc-log-child-url {
	background-color:#fff5d5;
	padding-left:30px;
}
div#nc-fatal-error {
	background-color:#ff0000;
	color:#ffffff;
}
.nc-log caption {
	color:#000000;
	background-color:#efefef;
}
pre.cake-debug {
	background: #ffcc00;
	line-height: 140%;
	margin-top: 0.5em;
	overflow: auto;
	position: relative;
}
a.nc-log-title {
	font-weight:bold;
	background-color: #ffffff;
	border-style: solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-width: 1px;
    border-color: #dfdfdf;
	margin: 5px 0 0 10px;
	padding: 0 5px;
	display:block;
}
a.nc-log-post-title {
	color:#0000ff;
}
pre.nc-log-post,pre.nc-log-get {
	font-weight:bold;
	padding: 3px 20px;
	background-color: #ffffff;
	margin: 0 0 5px 10px;
	border-color: #dfdfdf;
	border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
td.nc-log-save, .nc-log td.nc-log-post {
	background-color: #d5ffe6;
}
.cake-error {
	background-color: #fc9595;
	padding:10px;
}
.cake-stack-trace {
	background-color: #ffd5d5;
	padding:6px;
}
.cake-code-dump {
	border: 1px solid #fc9595;
	padding:6px;
	margin:6px;
}
.cake-context {
	border: 1px solid #fc9595;
	padding:6px;
	margin:6px;
}
.stack-trace {
	padding:6px;
}
.nc-log-second {
	font-weight:bold;
	color:#0000ff;
}