/* 共通 */
/* for IE6 */
* html body {
    font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}
* html input, * html textarea {
    font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}

/* 共通クラス */
.none {
	display:none !important;
}

.top {
	vertical-align: top !important;
}
.bottom {
	vertical-align: bottom !important;
}

.float-left {
	float:left !important;
}

.float-right {
	float:right !important;
}

.clear {
	clear : both !important;
}
.clearfix:after, .lists:after {
	content: ".";
	display: block !important;
	clear: both !important;
	height: 0 !important;
	visibility: hidden !important;
}

.align-left {
	text-align:left !important;
}

.align-center {
	text-align:center !important;
}

.align-right {
	text-align:right !important;
}

.widthmax {
	width:100%;
}

.visible-hide {
	visibility:hidden;
}
.display-block {
	display:block;
}
.display-none {
	display:none;
}

.display-inline {
	display:inline;
}

.relative {
	position:relative;
}

.absolute {
	position:absolute;
}

.pointer_cursor {
	cursor:pointer !important;
}
.move_cursor {
	cursor:move !important;
}

.nowrap {
	white-space:nowrap !important;
}

.bold {
	font-weight:bold !important;
}

.clearfix {
	min-height: 1px !important;
}

* html .clearfix {
	height: 1px !important;
}

/* ブロック関連  */
.table {
	display:table;
}
.table_row {
	display:table-row;
}

.table_cell {
	display:table-cell;
}
/* 時間 */
input.nc-date {
    width: 80px !important;
}
input.nc-time {
    width: 60px !important;
}

/* モーダル */
#nc_modal {
	top:0;
	left:0;
	position:absolute;
}
/*
div.selectlist{
	float:left;
	text-align:center;
	padding:10px 0;
}
select.selectlist {
	width:180px;
	height:250px;
	margin:5px;
}
.selectlist_title {
	font-weight:bold;
	padding:5px;
}
.selectlist_btn {
	float:left;
	text-align:center;
	width:90px;
	padding:150px 0 0;
}
*/

/* メッセージ関連 */
div.error-message {
	color:#ff0000;
	background: url(../../img/common/alert.gif) no-repeat 5px center #ffd9d9;
	padding:5px 0 5px 25px;
	margin:2px 0;
	clear: both;
}
div.info-message {
	color:#0000ff;
	background-color:#d9e0ff;
	padding:5px 0 5px 25px;
	margin:2px 0;
	clear: both;
}

div.message {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 991;
	width:100%;
	color: #333333;
	font-size:116%;
	background: #ffffff;
	padding: 10px;
	text-align:center;
	border-bottom: 1px solid #cdcdcd;
}

/* WYSIWYG:IE+Ajaxの場合、一度目が正常に表示されないため */
textarea.nc_wysiwyg {
	width:520px;
	height:320px;
	visibility:hidden;
}

.outer {
	padding:0.7em;
}

/* アイコン画像 */
img.icon {
	vertical-align:middle;
}

/* 矢印 */
.nc_arrow {
    border-color: #565656 transparent transparent;
    border-right: 3px dashed transparent;
    border-style: solid dashed dashed;
    border-width: 4px 4px 0;
    text-align: center;
    margin:0 auto;
    font-size: 0;
    height: 0;
    left: 0;
    line-height: 0;
    padding-top: 1px;
    position: relative;
    top: 1px;
    width: 0;
}

.nc_arrow_up {
    border-color: #565656 transparent;
    border-width: 0 4px 4px;
    border-style: solid;
	text-align: center;
	margin:0 auto;
    font-size: 0;
    height: 0;
    left: 0;
    line-height: 0;
    padding-top: 1px;
    position: relative;
    top: -1px;
    width: 0;
}

.nc_arrow_left {
	position:relative;
	top:0;
	left:0;
}
.nc_arrow_left:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 5px solid #565656;
}

.nc_arrow_right {
	position:relative;
	top:0;
	left:0;
}
.nc_arrow_right:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 5px solid #565656;
}

/* ページ移動 */
ul.nc_pager {
	list-style-type: none;
	margin: 0 0 1em;
	padding: 0;
}

ul.nc_pager li {
    /* font-size: 13px; */
    display: inline;
    line-height: 0;
    margin: 0;
    padding: 0;
}

ul.nc_pager a, ul.nc_pager a:visited, ul.nc_pager a:hover, ul.nc_pager span.nc_pager_current,ul.nc_pager span.nc_pager_dots {
    /* background: url() no-repeat scroll left top transparent; */
    width: 25px;
    color: #777777;
    display: block;
    float: left;
    line-height: 25px;
    margin: 0 3px 0 0;
    padding: 0;
    text-align: center;
    border-radius:3px;
    border: 1px solid #cccccc;
    text-decoration: none;
}

ul.nc_pager span.nc_pager_current {
    /* background: url("") no-repeat scroll left top transparent; */
    background-color:#7e9693;
    color: #ffffff;
}

/* 編集画面リスト */
ul.lists {
	margin:0;
	padding:0;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
ul.lists li {
	margin:0;
	list-style-type: none;
	clear: both;
	/*border-top: 1px solid #d0d0d1;*/
}

ul.lists li dl {
	clear: both;
    /*content: ".";*/
    display: block;
    height: 0;
}

ul.lists li dl dt {
	float: left;
    padding: 10px;
    width : 100px;

}

ul.lists li dl dd {
	float: left;
    overflow: hidden;
    padding: 10px;
    /*width : 200px;*/
}

/** Debugging **/
table.nc-log {
	background: #ffffff;
	width:100%;
	clear: both;
}
.nc-log td {
	vertical-align:top;
	border:1px solid #cccccc;
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}
.nc-log td.nc-php-log {
	background-color:#fff5d5;
}
.nc-log td.nc-log-child-url {
	background-color:#fff5d5;
	padding-left:30px;
}
div#nc-fatal_error {
	background-color:#ff0000;
	color:#ffffff;
}
.nc-log caption {
	color:#000000;
	background-color:#efefef;
}
pre.cake-debug {
	background: #ffcc00;
	line-height: 140%;
	margin-top: 0.5em;
	overflow: auto;
	position: relative;
}
p.nc-log-post,p.nc-log-get {
	font-weight:bold;
	padding: 3px 10px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	margin: 5px 0 5px 10px;
}
td.nc-log-save {
	background-color: #d5ffe6;
}
.cake-error {
	background-color: #fc9595;
	padding:10px;
}
.cake-stack-trace {
	background-color: #ffd5d5;
	padding:6px;
}
.cake-code-dump {
	border: 1px solid #fc9595;
	padding:6px;
	margin:6px;
}
.cake-context {
	border: 1px solid #fc9595;
	padding:6px;
	margin:6px;
}
.stack-trace {
	padding:6px;
}
.nc-log-second {
	font-weight:bold;
	color:#0000ff;
}