/* Setting Mode */
.nc-add-block-outer,.nc-copy-block-outer {
	padding: 5px 10px;
}
.nc-add-block,.nc-copy-block {
	width: 200px;
}
.nc-copy-select {
	color:#ff0000;
}
.nc-copy-block-outer .chzn-single {
	font-weight:bold;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #ffffff), color-stop(100%, #fff5a5));
	background-image: -webkit-linear-gradient(top, #ffffff 20%, #fff5a5 100%);
	background-image: -moz-linear-gradient(top, #ffffff 20%, #fff5a5 100%);
	background-image: -o-linear-gradient(top, #ffffff 20%, #fff5a5 100%);
	background-image: linear-gradient(#ffffff 20%, #fff5a5 100%);

}

.nc-block-dummy {
	border:2px dotted #ffd700 !important;
}

.nc-block-move-desc {
	background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.4);
    color:#000;
    border-color:#c9c9c9 #ededed #ededed #c9c9c9;
	border-style:solid;
	border-width:1px;
	position:absolute;
	top:35px;
	left:5px;
	padding:5px;
	z-index:3;
	display:none;
	font-size:93%;
}

.nc-block-mode {
	display:none !important;
}

.nc-block .nc-frame:hover .nc-block-mode, .nc-group .nc-frame:hover > .nc-block-mode {
	display:block !important;
}

.nc-frame:hover {
	border-color:#ededed #c9c9c9 #c9c9c9 #ededed !important;
	border-style:solid !important;
	border-width:1px !important;
	box-shadow: 0px 1px 2px 0px #cccccc !important;
}
.nc-block .nc-frame:hover {
	background:url("../../img/pages/block/bg_act.gif") repeat scroll left top #ffffff !important;
}

.nc-block-move {
	cursor:move;
	height:31px;
	position:absolute;
	text-align:center;
	top:0;
	width:100%;
}

#nc-block-show-size {
	position:absolute;
	padding:3px;
	background-color:#666666;
	opacity: 0.8;
	color:#ffffff;
	font-weight:bold;
	font-size:10px;
}

.nc-block-hide-header {
	text-align:center;
}

.nc-block .nc-block-move {
	background:url("../../img/pages/block/block_dot.gif") repeat-x scroll left center transparent !important;
}

a.nc-block-header-display {
	width:15px;
	height:15px;
	padding:2px;
	position:absolute;
	left:5px;
	top:5px;
	border:1px solid #c9c9c9;
	border-radius: 3px;
	background-color:#ffffff;
	display:block;
	float:left;
	z-index:2;
}
span.nc-block-header-page-name {
	white-space:nowrap;
	font-weight:bold;
	text-align:left;
	position:absolute;
	left:30px;
	top:6px;
	overflow:hidden;
}

.nc-block span.nc-block-header-page-name {
	background:url("../../img/pages/block/bg_act.gif") repeat scroll left top #ffffff !important;
}

ul.nc-block-toolbox {
	height:32px;
	padding:2px;
	position:absolute;
	right: 2px;
}
ul.nc-block-toolbox li {
	float:left;
	margin:0;
	padding:0 0 0 4px;
	list-style:none outside none;
}

li.nc-block-header-setting-icon a.nc-block-toolbox-link {
	background:url("../../img/pages/block/block_setting.gif") no-repeat scroll left top transparent;
	width:27px;
	height:27px;
	display:block;
}
li.nc-block-header-setting-icon a.nc-block-toolbox-link:hover {
	background:url("../../img/pages/block/block_setting_over.gif") no-repeat scroll left top transparent;
}
li.nc-block-header-setting-end-icon a.nc-block-toolbox-link {
	background:url("../../img/pages/block/block_setting_over.gif") no-repeat scroll left top transparent;
	width:27px;
	height:27px;
	display:block;
}
li.nc-block-header-setting-end-icon a.nc-block-toolbox-link:hover {
	background:url("../../img/pages/block/block_setting_end_over.gif") no-repeat scroll left top transparent;
}
li.nc-block-header-close-icon a.nc-block-toolbox-link {
	background:url("../../img/pages/block/block_close.gif") no-repeat scroll left top transparent;
	width:27px;
	height:27px;
	display:block;
}
li.nc-block-header-close-icon a.nc-block-toolbox-link:hover {
	background:url("../../img/pages/block/block_close_over.gif") no-repeat scroll left top transparent;
}
li.nc-block-header-list-icon a.nc-block-toolbox-link {
	background:url("../../img/pages/block/block_list.gif") no-repeat scroll left top transparent;
	width:27px;
	height:27px;
	display:block;
}
li.nc-block-header-list-icon a.nc-block-toolbox-link:hover {
	background:url("../../img/pages/block/block_list_over.gif") no-repeat scroll left top transparent;
}

.nc-group .nc-frame:hover {
	background: transparent url(../../img/pages/block/bg_group_act.gif) repeat scroll left top;
}

.nc-group .nc-block-move {
	background:url("../../img/pages/block/group_dot.gif") repeat-x scroll left center transparent;
}
.nc-group span.nc-block-header-page-name {
	background:url("../../img/pages/block/bg_group_act.gif") repeat scroll left top #ffffff;
}

.nc-content-group-setting {
	padding: 0 0 15px 0;
}

.nc-block .nc-select-group,.nc-group .nc-select-group {
	border:2px solid #ffd700 !important;
}

#nc-block-group {
	text-align:left;
	/*position: absolute;*/
	width: auto;
	height: auto;
	top: 2px;
	left:2px;
	opacity: 0.90;
	position: fixed;
	border-color:#fffab9 #ffd700 #ffd700 #fff4b9;
	border-style:solid;
	border-width:2px;
	z-index: 991;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	background-color:#ffffff;
	text-shadow: 0 1px #ffffff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

}
#nc-block-group ul {
	border:1px solid #ffffff;
	margin:0;
	padding:3px 3px 3px 2px;
}

#nc-block-group li {
	border:1px solid #ffffff;
	display:block;
	list-style-type:none;
	margin:3px 0;
	padding:1px 12px 0 2px;
}
#nc-block-group li a, #nc-block-group li a:link {
	color:#04419a;
	text-decoration:none;
}

#nc-block-group li a {
	white-space:nowrap;
	width:100%;
}

.nc-block-confirm-shortcut {
	padding:5px;
	background-color:#efefef;
	display:block;
	margin:5px;
}

ul.nc-cancel-toolbox {
	width:30px;
	right:2px;
}


ul.nc-shortcut-toolbox {
	width:65px;
	right:2px;
}

.nc-block-styles-dialog {
	padding : 2px !important;
}