/* Theme */
.th-default-blue {
	background:url("../../frame/default/img/blue/back.gif") repeat-x scroll left top #ffffff;
	border:1px solid #92d0dd;
}

/* highlight */
.th-default-blue .highlight{
	background-color:#e8f5f8;
	color:#3ba6bd;
}

.th-default-blue a.hover-highlight:hover {
	background-color:#e8f5f8;
	color:#3ba6bd;
}